.parent__container {
  padding: 1.5rem 2.5rem;
}

.chart__parent {
  width: 22rem;
  height: 22rem;
  margin: 0 auto;
}

.scrollable-card {
  max-height: 300px;
  overflow-y: auto;
}

.scrollable-card .table {
  margin-bottom: 0;
}

.scrollable-card::-webkit-scrollbar {
  width: 6px;
}

.scrollable-card::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

@media (max-width: 768px) {
  .chart__parent {
    width: 15rem;
    height: 15rem;
    margin: 0 auto;
  }
}
