.main__container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
.parent__container {
    padding: 2.5rem 4.5rem;
  }

  .header__tab{
    display: flex;
    width: 100%;
  }

  .filter__container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .without__filters{
    display: flex;
    width:  100%;
    justify-content: flex-end;
  }



  @media (width < 768px)  {
    .parent__container {
        padding: 0;
      }
    
  }